.calculadora {
  margin: 0 auto;
}

.display {
  height: 40px;
  background-color: #222;
  color: #fff;
  text-align: right;
  padding: 10px;
  font-size: 1.5em;
}

.teclado {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  height: 100%;
  font-size: 1.2em;
}